<h1>
  Welome to the Game of Homes Admin Portal
</h1>
  How are you feeling today?
  <br />
  <ul class="nav nav-pills">
  <li role="presentation"><a href="#">Struggling</a></li>
  <li role="presentation"><a href="/pages/ok_but_numb">Ok But Numb</a></li>
  <li role="presentation"><a href="#">Starting to Become interested in things</a></li>
</ul>
